@charset "utf-8";

.r_s {
	border: 1px solid #9999FF;
	margin: 4px 4px 2px 2px;
	padding-left: 2px;
}
.ui-li-desc {
    white-space : normal;
}
.ui-collapsible-inset, .ui-collapsible-set {
    margin: 0 0.5em;
}
